<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <!--<sectionGroup name="businessObjects"><sectionGroup name="crystalReports"><section name="rptBuildProvider" 
type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/>
</sectionGroup>

</sectionGroup>-->
  </configSections>
  <appSettings>
    <add key="Skin" value="Default"/>
    <add key="ApplicationServerMode" value="Internal"/>
    <add key="ApplicationMode" value="OnLine"/>
    <!--OnLine ou OffLine-->
    <add key="ActiveConnectionString" value="WEM_NEW_PRD_MYSQL"/>
    <!--<add key="ActiveConnectionString" value="WEM_DSV_MYSQL"/>-->
    <add key="SourceRPTFiles" value="F:\VSSRoot\SisGNCWeb\SisRNCWeb\Aut\Reports\Files\"/>
    <add key="SourceImagesAnexo" value="F:\VSSRoot\SisGNCWeb\SisRNCWeb\Skin\Default\Img\imagensAnexo\"/>
    <add key="SourceImagesAnexoRelat" value="F:\VSSRoot\SisGNCWeb\SisRNCWeb\img\brasao_topo6.png"/>
    <add key="PageSize" value="15"/>
    <add key="SOFTWARES" value="22"/>
    <add key="Modulo" value="A"/>
    <add key="Logout" value="SisGNCWeb"/>
    <add key="emailRemetente" value="xxxx@hemopa.pa.gov.br"/>
  </appSettings>
  <connectionStrings>
    <add name="WEM_DSV_MYSQL" connectionString="data source=localhost; password=mysql; user id=root;  Allow User Variables=True; SslMode=none; Initial Catalog=sisrnc" providerName="MySql"/>
    <add name="WEM_PRD_MYSQL" connectionString="data source=10.95.2.9; password=011372$$mysql; user id=root; Allow User Variables=True; SslMode=none;Initial Catalog=sisrnc" providerName="MySql"/>
    <add name="WEM_NEW_PRD_MYSQL" connectionString="data source=10.95.2.78;port=33066; password=; user id=root; Allow User Variables=True; SslMode=none;Initial Catalog=sisrnc" providerName="MySql"/>

  </connectionStrings>
  <!--
    Para obter uma descrição das alterações do web.config, consulte http://go.microsoft.com/fwlink/?LinkId=235367.

    Os seguintes atributos podem ser definidos na marca <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <!--
            Atualizado em 25.02.2012
            Motivo  : Habilitar Gravação de Campos do Editor HTML
         -->
    <httpRuntime requestValidationMode="2.0" maxRequestLength="10000000"/>
    <sessionState timeout="240000"/>
    <!--<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="20"/>-->
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <!--<add assembly="Oracle.DataAccess, Version=10.2.0.100, Culture=neutral, PublicKeyToken=89B483F429C47342" />-->
      </assemblies>
      <buildProviders>
        <!--<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>-->
      </buildProviders>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpModules>
      <!--<add name="CompressionModule" type="HttpUtils.CompressionModule, HttpUtils" />-->
    </httpModules>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
    </httpHandlers>
    <identity impersonate="false"/>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <!--<network host="mx.expresso.pa.gov.br" port="25" defaultCredentials="true" userName="nao.conformidade@hemopa.pa.gov.br" password="hemopa"/>-->
	    <network host="mail.pa.gov.br" port="587" defaultCredentials="true" userName="nao.conformidade@hemopa.pa.gov.br" password="SISRNC.hemopa123"/>
      </smtp>
    </mailSettings>
  </system.net>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ServiceModel"/>
    </modules>
    <handlers>
      <!-- <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" 
       type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>-->
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
    <!--<urlCompression doDynamicCompression="true" doStaticCompression="true"/>-->
  </system.webServer>
  <!--<businessObjects><crystalReports><rptBuildProvider><add embedRptInResource="true"/></rptBuildProvider></crystalReports></businessObjects>-->
</configuration>