<%@ Master Language="C#" AutoEventWireup="true" CodeFile="AutPopup.master.cs" Inherits="APB.Mercury.WebInterface.SCPWeb.Www.MasterPages.AutPopup" %>

<%@ Register TagPrefix="cc1" Namespace="AjaxControlToolkit" Assembly="AjaxControlToolkit, Version=3.0.20820.18773, Culture=neutral, PublicKeyToken=28f01b0e84b6d53e" %>

<%@ Register Src="~/UserControl/WuLinhaTopo.ascx" TagName="WuLinhaTopo" TagPrefix="uc7" %>
<%@ Register Src="~/UserControl/WuMensagemAlerta1.ascx" TagName="WuMensagemAlerta1"
    TagPrefix="uc8" %>

<%@ Register Src="~/UserControl/WuMenuStyle.ascx" TagName="WuStyle" TagPrefix="uc11" %>

<%@ Register Src="~/UserControl/WuScriptCssPages.ascx" TagName="WuScriptCss" TagPrefix="uc13" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.2//EN""http://www.openmobilealliance.org/tech/DTD/xhtmlmobile12.dtd">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>ROMA</title>
    <uc13:WuScriptCss runat="server" ID="wuScript" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body id="Body1" runat="server">
    <form id="form1" runat="server">
    <asp:ScriptManager ID="ScriptManager1" runat="server" EnableScriptGlobalization="true"
        EnableScriptLocalization="true">
    </asp:ScriptManager>
    <asp:Button ID="Button1" runat="server" Text="Button" Style="display: none" />
    <cc1:ModalPopupExtender ID="popAguarde" runat="server" TargetControlID="Button1"
        PopupControlID="pnAguarde" BackgroundCssClass="modalBackground" BehaviorID="popAguarde" />
    <script id="Pop" language="javascript" type="text/javascript">
        Sys.WebForms.PageRequestManager.getInstance().add_beginRequest(BeginRequestHandler);
        Sys.WebForms.PageRequestManager.getInstance().add_endRequest(EndRequestHandler);

        function BeginRequestHandler(sender, args) {
            $find("popAguarde").show();
            window.focus();
        }

        function EndRequestHandler(sender, args) {
            $find("popAguarde").hide();
        }
    </script>
    <div id="header">
        <h1>
            <a href="">ROMA</a></h1>
    </div>

    
    <div id="content">
        <div id="breadcrumb">
            <uc7:WuLinhaTopo runat="server" ID="WuLinhaTopo" />
        </div>
        <div class="container-fluid">
            <div>

                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>

            </div>
        </div>
    </div>
    <asp:Panel ID="pnAguarde" runat="server">
        <img alt="Aguarde, carregando..." src="../../img/ajax-loader.gif" />
    </asp:Panel>
    </form>
</body>
</html>
